path {
  stroke: #ffffff;
  /*stroke-width: 0.25px;
  fill: #ffffff;*/
  opacity: 0.9;
}


#map { width:100%;
  height: 100%;
}


.g {
  height: 100%;
  width: 100%;
}


div.tooltip {
        color: #000000;
        background-color: #ffffff;
        border-width: 0.5px;
        border-style: solid;
        border-color: #000000c9;
        padding: .5em;
        border-radius: 5px;
        opacity: 0.9;
        position: absolute;
        font-family: "Lato", sans-serif;
    }

ul.legend {
	list-style-type: none;
	list-style: ;
	padding: px;
	vertical-align: middle;
	display: block;
  line-height: 50px;
  font-family: "Lato", sans-serif;
  cursor:pointer;
}

.hidden {
  display: none !important;
}


#map-legend {
    position: absolute;
    top: 250px

    /* position: relative; */
}

 .my-legend .legend-title {
   text-align: left;
   margin-bottom: 5px;
   font-weight: bold;
   font-size: 90%;
   }

 .my-legend .legend-scale ul {
   margin: 0;
   margin-bottom: 5px;
   padding: 0;
   float: left;
   list-style: none;
   }

 .my-legend .legend-scale ul li {
   font-size: 80%;
   list-style: none;
   margin-left: 0;
   line-height: 18px;
   margin-bottom: 2px;
   }

 .my-legend ul.legend-labels li span {
   display: block;
   float: left;
   height: 16px;
   width: 30px;
   margin-right: 5px;
   margin-left: 0;
   border: 1px solid #999;
   }
